# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    doft.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alanter <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/09/25 13:34:04 by alanter           #+#    #+#              #
#    Updated: 2018/09/27 19:35:47 by alanter          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #


<style>
div {

}
* {
	box-sizing: border-box;
}
header {
	background-color:#CCCCCC;
	width: 80%;
	height: 7.5vw;
	border: 2px solid black;
}
img {
	max-width: 100%;
	max-height: auto;
	object-fit: contain;
}
.picture {
	width: 100%;
}
.button {
	width: 4.5vw;
	padding: 0.3vw;
}
.center {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}
.column {
	float: left;
	padding: 1vw;
	border: 2px solid black;
	margin: 0.8vw;
	background-color:#CCCCCC;
}

/* Left and right column */
.column.side {
	width: 9vw;
	height: 24vw;
}

/* Middle column */
.column.middle {
	width: 54vw;
	height: 60%;
}
.box {
	width: 31%;
	height: 12vw;
	border: 2px solid black;
	background-color: yellow;
}
.column, header, .box {
	border-radius: 10px;
}
.shadow {
	box-shadow: 5px 10px 10px;
}
div.relative {
	position: relative;
	left: 8%;
	top: -6vw;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
/*.clearfix::after {
	content: "";
	clear: both;
	display: table;
}*/
</style>
